.todo-form {
    width: 80vw;
    display: flex;
    margin-bottom: 2rem;
    height: 3rem;
}

.todo-form-label {
    display: inline-block;
    font-size: 150%;
    margin: auto;
    flex: 1;
}

.todo-form-input {
    display: inline-block;
    font-size: 150%;
    padding-left: 1rem;
    flex: 9;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}