.todo-list-item {
    display: flex;
    padding-bottom: 1rem;
    height: 2rem;
}

.todo-list-item-checkbox {
    height: inherit;
    flex: 1;
}

.todo-list-item-title {
    height: inherit;
    display: inline-flex;
    align-items: center;
    padding-left: 1rem;
    flex: 8;
}

.todo-list-item-title input {
    height: inherit;
    width: 95%;
    padding: 0;
}

.todo-list-item-delete {
    height: inherit;
    flex: 1;
}